<div class="eight wide column">
	<div class="ui card">
	  <div class="image">
	    <img src="https://avatars2.githubusercontent.com/u/4828152?v=3&s=460">
	  </div>
	  <div class="content">
	    <a class="header">Kristy</a>
	    <div class="meta">
	      <span class="date">Joined in 2013</span>
	    </div>
	    <div class="description">
	      Kristy is an art director living in New York.
	    </div>
	  </div>
	  <div class="extra content">
	    <a>
	      <i class="user icon"></i>
	      22 Friends
	    </a>
	  </div>
	</div>
</div>
<div class="eight wide column">
	<h2>About me</h2>
	<p>To ensure cards are equal height use the plural, cards. Card groups automatically uses flex styles to match height between cards in the same row.p>To ensure cards are equal height use the plural, cards. Card groups automatically uses flex styles to match height between cards in the same row.p>To ensure cards are equal height use the plural, cards. Card groups automatically uses flex styles to match height between cards in the same row.</p><p>To ensure cards are equal height use the plural, cards. Card groups automatically uses flex styles to matautomatically uses flex styles to match height between cards in the same row.p>To ensure cards are equal height use the plura styles to match height between cards in the same row.</p>	
</div>
