
<div class="sixteenth wide column">
	<div class="ui sizer vertical piled segments">
		<div class="ui segment">
			<div class="ui huge header">
				<a href="">title</a>
			</div>
				<p>description</p>	
		</div>
		<div class="ui segment">
			<div class="ui huge header">
				<a href="">title</a>
			</div>
				<p>description</p>	
		</div>		
	</div>
</div>